* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 4vh;
    background-color: #c8c8c8;
}


.button-box {
    font-size: 200%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn:visited,
.btn:link {
    display: inline-block;
    padding: 15px 40px;
    background-color: #737373;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100px;
    transition: all .3s;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}


.btn-white::after {
    background-color: #737373;
}

.btn-white:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0;
}